img{
    width: 100%;
}

.sony{
    max-width:110px;
}

.top_navbar{
    background-color:#000;
}


.button_custom{
    all: unset;
    border-radius: 20px;
    background-color:#363636;
    color: #fff
}
.text_w{
    color:#fff;
}

.button_custom:focus {
    outline: none;
}

.nav-item i{
    font-size:25px;
}

.jumbotron_customized{
    position: relative;
}

.jumbo_tron{
    height:600px;
}
    
.jumbo_tron img{
    height: 100%;
    object-fit:cover;
}

.m_t{
    margin-top: 100px;
}

.position_abs{
    position: absolute;
    
    height: 200px;
    background-color: white;
}

.pos_lb{
    left: 10px;
    bottom: 10px;
}