img{
    width: 100%;
}

.sony{
    max-width:110px;
}

.top_navbar{
    background-color:#000;
}

.text_w{
    color:#fff;
}

.bg_black{
    background-color:#1f1f1f;
}


.button_custom{
    all: unset;
    border-radius: 20px;
    background-color:#363636;
    color: #fff;
    padding: 5px 30px;
}

.button_custom:focus {
    outline: none;
}

.nav-item i{
    font-size:25px;
}

.jumbotron_customized{
    position: relative;
}

.jumbo_tron{
    height:550px;
}
    
.jumbo_tron img{
    height: 100%;
    object-fit:cover;
}

.m_t{
    margin-top: 100px;
}

.position_abs{
    position: absolute;
    
    /* height: 200px; */
    /* background-color: white; */
}

.pos_lb{
    left: 30px;
    bottom: 70px;
}

.col_bg_orange{
    background-color:orange;
}

.container_gioco_jumbotron{
    /* height: 50px; */
    /* background-color: red; */
    /* margin-right: 3px; */
    margin-bottom:3px;
}

.container_gioco_jumbotron img{
    
    border-radius: 15px;
}

.container_thumb img{
    filter:opacity(50%);
}

.container_thumb img:active{
    filter:opacity(100%);
}


.first_jumbotron .jumbo_display{
    background: url("../img/jumbo-bg.png");
    
}

.second_jumbotron .jumbo_display{
    background: url("../img/it-takes-two-hero-banner-desktop.jpg") no-repeat ;
    
}

.second_jumbotron .jumbo_display, 
.first_jumbotron .jumbo_display{
    background-position: center;
    padding:370px 0 50px 0;  
}